/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.font-gothic {
    font-family: 'antonioregular';
}
.layer-1 {  z-index: 1; }
.layer-2 {  z-index: 2; }
.layer-3 {  z-index: 3; }
.layer-4 {  z-index: 4; }
.layer-5 {  z-index: 5; }
.layer-6 {  z-index: 6; }
.layer-7 {  z-index: 7; }
.layer-8 {  z-index: 8; }
a {
   outline: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    background: url("../img/background.png") repeat scroll 0 0 / cover  black;
}
.red-flash {
    background: url("../img/red-flash.png") no-repeat scroll 0 0 / cover transparent;
}
.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.get-face-space,
.dont-miss-out,
.enter-now {
    position: relative;
}
.get-face-space {
    width: 100%;
    height: 100%;
    float: right;
    margin-top: 50px;
    margin-right: 60px;
}
nav {
    position: relative;
}
.top-corner {
    position: absolute;
    top: 0;
}
.left-corner {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    height: 80px;
    left: 0;
    width: 200px;
}
.right-corner {
    background: url("../img/socialbg.png") no-repeat scroll -15px 0 transparent;
    height: 80px;
    right: 0;
    width: 200px;
}
.left-corner > div {
    position: absolute;
    top: 0;
}
#logo {
    left: 0;
    z-index: 2;
}
#logo-text {
    left: 100px;
    z-index: 1;
}
.icons-social-network {
  left: 0;
  position: relative;
  top: -5px;
}
.icons-social-network li {
    background-image: url("../img/icons-social-network.png");
    width: 35px;
    height: 35px;
    float: left;
    cursor: pointer;
}
.icons-social-network li:hover {
    opacity: 0.6;
}
.icons-social-network li a {
    display: block;
    width: 100%;
    height: 100%;
}
.icons-social-network .tw {
    background-position: 0px 0px;
}
.icons-social-network .fb {
    background-position: -35px 0px;
}
.icons-social-network .yt {
    background-position: -70px 0px;
    width: 70px;
}
.red {
    color: #D7342D;
}
.white {
    color: #FFF;
}
.dont-miss-out {
    margin-top: 0%;
    margin-right: 4%;
    text-align: right;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.dont-miss-out p {
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
}
.dont-miss-out .red {
    font-size: 2.6em;
}
.dont-miss-out .white {
    font-size: 1.6em;
}
.offset-txt-a {
    position: relative;
    left: -60px;
}
.enter-now {
    text-align: right;
}
.enter-now img {
    width: 60%;
}
.columns {
    position: relative;
    height: 100%;
}
.my-table {
    display: table;
}
.my-cell {
    display: table-cell;
    vertical-align: middle;
}
.image-container {
    margin-top: 25%;
    position: relative;
}
.image-container > img {
    width: 100%;
    position: relative;
}
.cans, 
.cans > div {
  height: 100%;
  left: -15%;
  position: absolute;
  top: -65%;
  width: 120%;
}
.cans > div {
    height: 100%;
    left: -15%;
    position: absolute;
    top: -25%;
    width: 100%;
}
.cans .red-can,
.cans .blue-can {
    height: auto;
    width: 100%;
}
.cans .red-can img {
    width: 65%;
}
.cans .blue-can img {
    width: 100%;
}
.max-width-a {
    max-width: 700px;
}
.flash-container {
  height: auto;
  position: absolute;
  right: -20%;
  top: -90%;
  width: 290%;
}
.flash-container img {
    width: 100%;
    height: auto;
}
.planets-stars {
  left: -8%;
  position: absolute;
  top: -88%;
  width: 118%;
}
.planets-stars > img {
    width: 100%;
}
.astronaut {
    width: 100%;
    height: 100%;
}
.astronaut .helmet {
    position: relative;
}
.astronaut .helmet img {
  left: -12%;
  position: relative;
  width: 90%;
}
.astronaut .image-container {
    margin-top: 8.5%;
}
.my-sprite {
    left: 20%;
    position: absolute;
    top: 23%;
}
.max-width-b {
    max-width: 650px;
}

/* start: animations */
.animate {
  background-image: url(../img/emerge-space-animation-sprite-GMP-opt.png);
  width: 430px;
  height: 380px;
  background-position: 0, 0;
  animation:play 4s infinite steps(43);
  -webkit-animation:play 4s infinite steps(43);
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -18490px; }
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -18490px; }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}